#lokale Dateien
data/

!data/Produktionsdaten/data_analysis_Prod_data.ipynb

data/**/*.xlsx
data/**/*.txt
data/**/*.csv

models/Modelsaves/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment-Dateien
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtuelle Umgebungen
.venv/
env/
venv/

# VS Code Einstellungen
.vscode/

# Systemdateien
.DS_Store
Thumbs.db

# Logfiles
*.log

# Sonstige temporäre Dateien
*.tmp
*.bak

/models/Modelsaves/
/Test